/* Main Navigation */

.wecare-logo {
  padding-top: 0.8em;
  height: 45px;
  width: auto;
}

/* Main Section */

.custom-heading, .custom-heading-2, .custom-para {
  text-shadow: 0px 0px 30px #585858;
}

.custom-heading, .custom-heading-2 {
  font-size: 3em;
}

.custom-heading {
  display: inline;
  font-weight: 400;
}

.custom-heading-2 {
  display: inline;
  font-weight: 600;
}

.custom-para {
  padding-top: 0.6em;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.wecare-links {
  padding-top: 2em;
}

.wecare-links .btn {
  margin: 0.5em;
}

/* Main Features */

.icon-container-custom {
  padding-top: 0.7em;
  margin: 0 auto !important;
  width: 70px !important;
  height: 70px !important;;
  float: none !important;
}

.icon-custom {
  font-size: 35px !important;
}

.body-custom {
  margin-left: 0 !important;
  padding-top: 2em;
}

.body-custom p, .body-custom h5 {
  text-align: center;
}

.body-custom h5 {
  font-weight: 500 !important;
}

/* Needs of The App */

#needs h2 {
  font-weight: 500 !important;
}

#needs h5 {
  font-weight: 500 !important;
}

/* Cycle */

.cycle {
  text-align: center;
  background-color: #fff !important;
}

.cycle h2 {
  font-size: 2.5em;
  font-weight: 500;
  color: #212121;
}

.cycle p {
  margin: 0 auto;
  color: #212121;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .cycle p {
    max-width: 700px;
  }
}

.image-wrapper {
  margin: 0 auto;
  width: 50%;
}

/* HOW */

#how {
  text-align: center;
  background-color: #fff !important;
}

#how h2 {
  font-size: 2.5em;
  font-weight: 500;
  color: #212121;
}

#how .description {
  margin: 0 auto;
  color: #212121;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  #how .description {
    max-width: 700px;
  }
}

.how-box {
  text-align: center;
  margin: 1em 0;
  padding: 0;
}

.how-box h5 {
  color: #212121;
  font-weight: 500;
}

.how-box p {
  margin: 0 auto;
  width: 80%;
  color: #212121;
}

.icon-wrapper {
  background-color: #fafafa;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 2.8em;
}

.icon-wrapper .icon {
  font-size: 4em;
}

/* Recompensas */

.btn-ghost-custom {
  border: 2px solid #fff !important;
  color: #fff;
}

.btn-ghost-default:hover,
.btn-ghost-default:active,
.btn-ghost-default:focus{
    color: #fff;
}

#main-features-r h2, #promotional h2, #testimonials h2 {
  font-weight: 500;
  color: #fff;
}

#main-features-r h2, #testimonials h2 {
  color: #212121;
}

.banner-info {
  padding-top: 6em;
}

@media screen and (min-width: 900px) {
  .banner-info {
    position: absolute;
    padding: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    padding-top: 8em;
  }
}

.body-r h5 {
  font-weight: 500 !important;
}

.banner-heading h1 {
  font-size: 3em;
}

.banner-heading h1, .banner-heading h4 {
  font-weight: 500 !important;
}

.box-style-2 {
  text-align: center;
}

.box-style-2 figure, .how-logo {
  transition: all 0.5s;
}

.box-style-2 figure:hover, .how-logo:hover {
  margin-top: -1em;
  margin-bottom: 1em;
}

.how-logo {
  height: 150px !important;
  margin: 0 auto;
}
