/* Ambience */
@import './stylesheets/ambience/colors.sass';
@import './stylesheets/ambience/fonts.sass';
@import './stylesheets/ambience/typography.sass';

/* Base */
@import './stylesheets/base/unclassed.sass';
@import './stylesheets/base/overrides.sass';

/* Components */
@import './stylesheets/components/Banner.sass';
@import './stylesheets/components/Campaigns.sass';
@import './stylesheets/components/Clients.sass';
@import './stylesheets/components/Company.sass';
@import './stylesheets/components/CompanyInfo.sass';
@import './stylesheets/components/Contact.sass';
@import './stylesheets/components/Ebook.sass';
@import './stylesheets/components/Footer.sass';
@import './stylesheets/components/Header.sass';
@import './stylesheets/components/How.sass';
@import './stylesheets/components/Problem.sass';
@import './stylesheets/components/Solution.sass';
@import './stylesheets/components/Statistic.sass';
@import './stylesheets/components/SubHeader.sass';
@import './stylesheets/components/Why.sass';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
